
## Package has dynamic library
useDynLib(RProtoBuf)

## And some functions
export(listPeopleAsDataFrame,
       listPeopleAsList )
       
importFrom( methods, new )
exportClasses( "protobufDescriptor", "protobufMessage", 
	"protobufFieldDescriptor", "protobufEnumDescriptor", 
	"protobufEnum" )
exportMethods( "new", "$", "$<-", "show",
	"serialize", "as.character" )

export( "P", "throw" )

if( exists( ".DollarNames", asNamespace("utils") ) ) importFrom( utils, .DollarNames )
S3method(.DollarNames, protobufMessage )
S3method(.DollarNames, protobufDescriptor )

